{% if site.disqus_shortname and page.comments != false %}

<div id='disqus_thread'></div>

<script>
var disqus_loaded = false;
var disqus_shortname = 'yubermensch';

function loadDisqus() {
    if (!disqus_loaded)  {
        disqus_loaded = true;
        var e = document.createElement("script");
        e.type = "text/javascript";
        e.async = true;
        e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
        (document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0])
        .appendChild(e);
    }
}

// 페이지 로드 시 Disqus 로드
window.onload = loadDisqus;
</script>
<noscript>Please enable JavaScript to view the <a href='https://disqus.com/?ref_noscript'>comments powered by Disqus.</a></noscript>

{% endif %}
