
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유버멘쉬의 블로그</title>
</head>
<body>
    <header>
        <h1>유버멘쉬의 블로그에 오신 것을 환영합니다!</h1>
          
        <p>스스로 오랫동안 고민하고 사유한 글만 올립니다.
        철학, 자연과학, 사회문제 등에 대한 저의 생각을 공유하고 공부한 내용을 정리해서 올립니다. 비난은 거절, 비판은 환영합니다.</p>
        <blockquote>
            <p>모든 것을 의심하라. 당연하게 받아들이지 마라. 스스로 고민하라. 끈임없이 생각해라. 용기있게 얘기하라!</p>
        </blockquote>
    </header>

    <section>
        <blockquote>
            <p>He told me, very tenderly, that it can be dangerous to believe things just because you want them to be true. You can get tricked if you don’t question yourself and others, especially people in a position of authority. He told me that anything that’s truly real can stand up to scrutiny. (너가 그 것이 사실이기를 원하기 때문에 그 것을 믿는 것은 매우 위험한 일이야. 너가 스스로와 다른 사람들, 특히 권위있는 사람에게 의문을 가지지 않는다면 속게 될거야.) - <a href="https://www.thecut.com/2014/04/my-dad-and-the-cosmos.html">Lessons of Immortality and Mortality From My Father, Carl Sagan By Sasha Sagan</a></p>
        </blockquote>
    </section>

    <section>
        <img src="https://github.com/principia137/principia137.github.io/assets/62958764/83bfefdd-7c58-444b-a0f0-0b0f726f1d71" alt="Pale Blue Dot" style="width: 68%; height: 68%;">
        <p>&uarr; 1990년 보이저 1호가 61억 km 떨어진 거리에서 촬영한 사진, 저 작은 점이 지구다. 일명 창백한 푸른 점</p>
        <blockquote>
            <p>For small creatures such as we, the vastness is bearable only through love. (우리처럼 작은 존재가 우주의 광대함을 견디는 방법은 오직 사랑뿐이다.) - 칼 세이건의 소설 "Contact" 중</p>
        </blockquote>
    </section>

    <footer>
        <p>(이 사이트의 컨텐츠에 대한 저작권은 유버멘쉬에게 있습니다. 공유시에 출처를 표기해주세요)</p>
        <p>© 2024 유버멘쉬. All rights reserved.</p>
    </footer>
</body>
</html>