
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유버멘쉬의 블로그</title>
</head>
<body>
    <header>
        <h1>유버멘쉬 블로그에 오신 것을 환영합니다!</h1>
        <br>
        <p>스스로 오랫동안 고민하고 사유한 글만 올립니다.
        철학, 자연과학, 사회문제 등에 대한 저의 생각을 공유하고 공부한 내용을 정리해서 올립니다. 비난은 거절, 비판은 환영합니다.
        문자의 발명으로 기록을 남겨 시간을 초월한 소통이 가능해지고, 인터넷의 발명으로 공간을 초월한 소통이 가능해지어 덕분에 지금 제가 이 놀라운 기술을 활용하여 여러분과 소통할 수 있게 되었습니다.</p>
        > 일상, 여행, 잡다한 생각 : <a href="{{ site.baseurl }}/categories/daily">Daily</a><br>
        > 글쓰기, 포스트 : <a href="{{ site.baseurl }}/categories/writing">Writing</a><br>
        > 공부, 연구, 개발 : <a href="{{ site.baseurl }}/categories/study&dev">Study&Dev</a><br>
    </header>
    <br>
    <hr style="border: 1px solid #ccc; margin: 20px 0;"><br>
    <section>
        <h3>나의 메시지..</h3>
        <blockquote style="border-left: 5px solid #ccc; padding-left: 10px; margin: 20px 0;">
            <h1 style="font-size: 1.5em; font-weight: bold; color: #333;">모든 것을 의심하라. 당연하게 받아들이지 마라. 스스로 고민하라. 끈임없이 생각해라. 용기있게 얘기하라!</h1>
        </blockquote>
        <br>
        <blockquote style="border-left: 5px solid #ccc; padding-left: 10px; margin: 20px 0;"></blockquote>
            <p style="font-size: 1.2em; color: #555;">He told me, very tenderly, that it can be dangerous to believe things just because you want them to be true. You can get tricked if you don’t question yourself and others, especially people in a position of authority. He told me that anything that’s truly real can stand up to scrutiny. 
                <br><br>너가 그 것이 사실이기를 원하기 때문에 그 것을 믿는 것은 매우 위험한 일이야. 너가 스스로와 다른 사람들, 특히 권위있는 사람에게 의문을 가지지 않는다면 속게 될거야.<br>
                <a href="https://www.thecut.com/2014/04/my-dad-and-the-cosmos.html" style="color: #007BFF; text-decoration: none;">Lessons of Immortality and Mortality From My Father, Carl Sagan By Sasha Sagan</a></p>
        </blockquote><br>
    </section>
    <hr style="border: 1px solid #ccc; margin: 20px 0;"><br>
    <section>
        <figure>
            <img src="./assets/img/pale_blue_dot.jpg" alt="Pale Blue Dot" style="width: 100%; height: 100%;">
            <figcaption>1990년 보이저 1호가 61억 km 떨어진 거리에서 촬영한 사진, 저 작은 점이 지구다. 일명 창백한 푸른 점(Pale Blue Dot)</figcaption>
        </figure>
        <blockquote style="border-left: 5px solid #ccc; padding-left: 10px; margin: 20px 0;">
            <h1 style="font-size: 1.5em; font-weight: bold; color: #333;">For small creatures such as we, the vastness is bearable only through love.
                <br>우리처럼 작은 존재가 우주의 광대함을 견디는 방법은 오직 사랑뿐이다. (칼 세이건의 소설 "Contact" 중)</h1>
        </blockquote>
    </section>
    <br><br>
    <footer>
        <p>(이 사이트의 컨텐츠에 대한 저작권은 유버멘쉬에게 있습니다. 공유시에 출처를 표기해주세요)</p>
        <p>© 2024 유버멘쉬. All rights reserved.</p>
    </footer>
</body>
</html>