<div class="home-content">

  <h2>Info…</h2>
  <ul>
    <li><strong>School:</strong></li>
    <ul>
      <li>Chung Ang University, dept of physics (2019~)</li>
      <li>미래산업과학고 (2017~2019)</li>
    </ul>
    <li><strong>Affiliation:</strong> CAU THEP research student</li>
    <li><strong>Instagram:</strong> <a href="https://instagram.com/philosopher_on_the_corner?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">https://instagram.com/philosopher_on_the_corner?igshid=OGQ5ZDc2ODk2ZA==</a></li>
    <li><strong>Project:</strong> <a href="https://github.com/principia137" target="_blank">https://github.com/principia137</a></li>
    <li><strong>LinkedIn profile:</strong> not yet</li>
    <li><strong>Resume:</strong> if you contact me I can give you my resume</li>
    <li><strong>Notion:</strong></li>
    <li><strong>YouTube:</strong> <a href="https://www.youtube.com/@yubermensch" target="_blank">https://www.youtube.com/@yubermensch</a></li>
    <li><strong>Personal blog:</strong> <a href="https://yubermensch.com" target="_blank">https://yubermensch.com</a></li>
    <li><strong>중앙대 물리학과 학술동아리 DDM 사이트:</strong> <a href="https://sites.google.com/view/cau-ddm/home" target="_blank">https://sites.google.com/view/cau-ddm/home</a></li>
  </ul>
</div>